.stories {
    display: flex;
    flex-direction: column;
}

.storiesWrapper {
    display: flex;
    flex-direction: row;
}

.usersStories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #f1f3f8;
}

.userName {

}