.stories {
    display: flex;
    flex-direction: column;
}

.storiesWrapper {
    display: flex;
    flex-direction: row;
}
.addStory {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-bottom: 10px;
}
.usersStory {
    display: flex;
    flex-direction: column;

    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #f1f3f8;;
}