.rightSidebar {
    display: flex;
    flex-direction: column;

    border: red solid 1px;
    border-radius: 10px;
    width: 400px;
    height: 1400px;
    background-color: #fff;
    margin: 20px 10px;
    padding: 20px 40px;
}